{{#> navigationCard }}
<body class= "background-img" background="../images/missionhills.jpg" >
    <div class="row">
        {{!-- handlebar to rended posts data on the main page --}}
        {{#each posts}}
            <div class="col-12 col-sm-3 post">
                <div class="card-transparent" style="width: 20rem;">
                    <img src={{pet_img_url}} class="pet-avatar m-2"/>
                    <span>{{pet_name}} ({{pet_breed}}, {{pet_age}})</span>
                    <img src={{img_url}} class="card-img-top" alt="card one">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <p class="card-text">{{description}}</p>
                        <input type="comment" class="form-control mb-2" id="inputComment" placeholder="add comment">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    {{!-- placeholder div to provide scrolling space for the create post button --}}
    <div class="py-4"></div>
</body>

{{!-- https://code.jquery.com/jquery-3.5.1.slim.min.js --}}
{{/ navigationCard}}

<a class="btn btn-small btn-info create-post" href="/create-post">
    <i class="fas fa-paw" style="font-size:20px"></i> Add Post
</a>

<script>
    $(document).ready(function(){
        $(".col").hover(
            function(){
                $(this).animate({
                    marginTop: "-=1%",
                },200);

            },
        function(){
            $(this).animate({
                marginTop:"0%"

            },200);

        }
        );

    });
    </script>



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
